.dialogsContainer {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: aliceblue;
}

.dialogs {
  padding: 16px;
}

.activeDialog {
  color: burlywood;
}

.messages {
  padding: 16px;

}
